.root {
  margin-left: 15px;

  li {
    display: inline-block;
  }

  a {
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;

    &:hover {
      color: white;
    }
  }

  :global {
    .previous {
      align-items: center;
      margin-right: 5px;

      a {
        margin: 0 auto;
        color: #66c0f4;
        background-color: rgba(103, 193, 245, 0.2);
        border-radius: 3px;
        padding: 0 13px;
      }
    }
    .next {
      align-items: center;
      margin-left: 5px;

      a {
        margin: 0 auto;
        color: #66c0f4;
        background-color: rgba(103, 193, 245, 0.2);
        border-radius: 3px;
        padding: 0 13px;
      }
    }
    .disabled {
      a {
        background-color: rgba(103, 193, 245, 0.04);
cursor: not-allowed;
      }
    }
    .selected {
      a {
        color: white;
      }

    }
  }
}